<%- include ../partials/header %>

    <div class="cards">
        <% recipes.forEach(function(r) { %> 
            <div class="card">
                <a href="/recipes/<%= r._id %>">
                <img class="card-image" src="<%= r.image %>" alt="user image">
                    <h3><%= r.title %></h3>
                </a>
            </div>
        <% }) %>  
    </div>

<%- include ../partials/footer %> 