<%- include ../partials/header %> 
<img class="show-img" src="<%= recipe.image %>" alt="">

<section class="recipe-container">
    <div class="recipe-container">
    <div class="left">
      <label>Course:<%= recipe.course %><br>
        <select name="course">
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Snack">Snack</option>
        </select>
      </label>
      <label>Title:<br>
        <%= recipe.title %>
      </label>
      <label>Servings:<br>
        <input type="text" name="servings" value="<%= recipe.servings %>">
      </label>
      <label>Prep Time(mins):<br>
        <input type="text" name="prepTime" value="<%= recipe.prepTime %>">
      </label>
      <label>Cook Time(mins):<br>
        <input type="text" name="cookTime" value="<%= recipe.cookTime %>">
      </label>
    </div>
  <form action="/recipes/<%= recipe.id %>/edit">
    <button class="showbtn">Edit</button>
  </form>
  <form action="/recipes/<%= recipe.id %>">
    <button class="showbtn">Delete</button>
  </form>

<%- include ../partials/footer %> 