<%- include ../partials/header %> 

<section id="show-page">
    <div>Title: </div>
    <div><%= recipe.title %></div>
    <div>Course: </div>
    <div><%= recipe.course %></div>
    <div>Servings: </div>
    <div><%= recipe.servings %></div>
    <div>Prep Time: </div>
    <div><%= recipe.prepTime %></div>
    <div>Cook Time: </div>
    <div><%= recipe.cookTime %></div>
    <div>Ingredients: </div>
    <div><%= recipe.ingredients %></div>
    <div>Directions: </div>
    <div><%= recipe.directions %></div>
  </section>

<%- include ../partials/footer %> 